*{
    margin: 1;
    padding: 1;
}

#titulo1{
    font-family:sans-serif;
    margin-left: 0%;
    color : #665d80;
    font-size: 40px; 
}

#titulo2{
    font-family:sans-serif;
    margin-left: 0%;
    color : #665d80;
    font-size:20px;
}

fieldset{
    border: 0;
}

body{
    background-color: rgb(F0F8FF);
    font-family:sans-serif;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 1em;
    color :#665d80;
    justify-content: center;
}

#check {
    display: inline-block;
    margin-bottom: 0.2em;
    color :#665d80;
    display: block;
}

input, select, textarea, button{
    border-radius:5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color :#665d80;
    display: block;
}

fieldset.grupo.campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #665d80;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(224,224,248);
}

.botao{
    font-size: 1.2em;
    background: #8b7fad;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
}    

.botao:hover { /*vai aparecer ao passar o mouse no botao*/
    background:#ccbbff;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
}